.container3 {
    background-color: white;
    width: 100vh;
}
.itemsContainer {
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    width: 150%;
    border-bottom: 1px solid #ccc;
}
::-webkit-scrollbar {
    width: 0px;
  }